configuration: Release

image: Visual Studio 2022

branches:
  only:
    - master

before_build:
- ps: nuget restore

build:
  verbosity: minimal

deploy:
  tag: LatestCommit
  release: HSD Raw Viewer [Latest Commit]
  description: 'This build is updated every time a commit is pushed to the master branch.\n\nMessage: $(APPVEYOR_REPO_COMMIT_MESSAGE)\n\n Timestamp: $(APPVEYOR_REPO_COMMIT_TIMESTAMP)'
  provider: GitHub
  auth_token:
    secure: xauaTCyRR7zXmIIk4uXxttIa2s/DKhiMVYbGn6BMy/suM2ow6gUe0GNrnS+d1Q/q
  artifact: HSDRAW.zip
  draft: false
  prerelease: true
  force_update: true
  on:
    branch: master

after_build:
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\HSDRawViewer.exe"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\HSDRawViewer.dll"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\HSDRawViewer.dll.config"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\HSDRawViewer.runtimeconfig.json"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\lib"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\Scripts"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\Shader"
  - 7z a "HSDRAW.zip" "%APPVEYOR_BUILD_FOLDER%\HSDRawViewer\bin\Release\net6.0-windows\runtimes"
  - 7z d "HSDRAW.zip" "lib\*.xml"
  - 7z d "HSDRAW.zip" "lib\*.pdb"
  - appveyor PushArtifact "HSDRAW.zip"
