<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net472" />
  <package id="CSCore" version="1.2.1.2" targetFramework="net472" />
  <package id="DirectXTexNet" version="1.0.0-rc4" targetFramework="net472" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="VGAudio" version="2.2.1" targetFramework="net472" />
  <package id="WeifenLuo.WinFormsUI.Docking" version="2.1.0" targetFramework="net472" />
  <package id="YamlDotNet" version="8.1.2" targetFramework="net472" />
</packages>